.usercard {
  display: flex;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;

  .uc-left {
    position: relative;
    flex: 1;

    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
      border-radius: 50px;
    }

    .status {
      position: absolute;
      width: 15px;
      height: 15px;
      border: 3px solid white;
      border-radius: 50px;
      bottom: 1px;
      right: 10px;
    }

    .on {
      background-color: green;
    }

    .off {
      background-color: red;
    }
  }

  .uc-right {
    flex: 4;
    display: flex;
    justify-content: space-between;

    .uc-middle {
      margin: 0px 20px;
      display: flex;
      flex-direction: column;

      .name {
        font-weight: 600;
        font-size: 20px;
      }
    }

    .received-time {
      font-size: 14px;
      margin-top: 5px;
    }
  }
}